.projectsContainerOuter {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 5rem;
  text-align: center;
  background-color: var(--background-primary);
}

.projectsContainerOuter h2 > span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    var(--grad-txt-purple),
    var(--grad-txt-magenta)
  );
  background-clip: text;
}
.projectsContainerOuter > p {
  padding: 0% 15%;
  margin: 5em 0em;
}
#projectsBtn {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 70%;
  max-width: 300px;
  margin: 5em 0em;
  background: linear-gradient(
        var(--background-primary),
        var(--background-primary)
      )
      padding-box,
    linear-gradient(to right, var(--grad-txt-purple), var(--grad-txt-magenta))
      border-box;
  border: solid 2px transparent;
}
#projectsBtn > img {
  height: 1.3em;
  margin-right: 0.5em;
}
#projectsBtn:hover {
  background: linear-gradient(
    to right,
    var(--grad-txt-purple),
    var(--grad-txt-magenta)
  );
}

@media (min-width: 768px) {
  .projectsContainer {
    height: 100vh;
  }
}
