#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #6b7280;
  width: 100vw;
  padding: 1em;
  z-index: 1000;
  background: var(--background-primary);
}

.title {
  font-size: 1.625rem;
  text-decoration: none;
  font-weight: 700;
}
.title > span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    var(--grad-txt-purple),
    var(--grad-txt-magenta)
  );
  background-clip: text;
}
