:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --background-primary: #060524;
  --background-secondary: #15117e;
  --text-primary: #ffffff;
  --text-secondary: #a3acbe;
  --grad-blue: #3f3ae4;
  --grad-purple: #5e46f3;
  --grad-txt-purple: #7b6dd1;
  --grad-txt-magenta: #9e73d4;
  /* --font-desktop-lrg: 4rem;
  --font-desktop-med: 1.25rem;
  --font-desktop-sml: 1rem; */
  --font--lrg: 2.5rem;
  --font--med: 1.25rem;
  --font--sml: 1rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

/* Global Element Styles */

h1 {
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 1.875em;
  font-weight: 500;
  letter-spacing: 0.1em;
}
p {
  color: var(--text-secondary);
  font-size: 1em;
  letter-spacing: 0.1em;
}

.navlink {
  color: var(--text-primary);
  text-decoration: none;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 1em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background: linear-gradient(to right, var(--grad-blue), var(--grad-purple));
  color: var(--text-primary);
  letter-spacing: 0.1em;
  width: 200px;
}
/* button:hover {
  background: var(--grad-txt-purple);
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto var(--grad-txt-purple);
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media (min-width: 580px) {
  h1 {
    font-size: 4.5em;
  }
  p {
    font-size: 1.3em;
  }
  h2 {
    font-size: 3em;
  }
}
